name: Pre-Release

on:
  workflow_dispatch:
    inputs:
      prerelease_version:
        description: 'Pre-release type'
        required: true
        default: 'prerelease'
        type: choice
        options: ['prepatch', 'preminor', 'premajor', 'prerelease']
      dry_run:
        description: 'Dry run - no changes made'
        required: false
        default: false
        type: boolean

jobs:
  pre-release:
    name: Pre-release
    permissions:
      contents: write
    uses: ./.github/workflows/_release-publish.reusable.yml
    with:
      release_version: ${{ inputs.prerelease_version }}
      dry_run: ${{ inputs.dry_run }}
    secrets:
      npm_token: ${{ secrets.NPM_TOKEN }}
      deploy_key: ${{ secrets.DEPLOY_KEY }}
