name: Release

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Release type'
        required: true
        default: 'patch'
        type: choice
        options: ['patch', 'minor', 'major']
      dry_run:
        description: 'Dry run - no changes made'
        required: true
        default: false
        type: boolean

jobs:
  release:
    name: Release
    permissions:
      contents: write
    uses: ./.github/workflows/_release-publish.reusable.yml
    with:
      release_version: ${{ inputs.release_version }}
      dry_run: ${{ inputs.dry_run }}
    secrets:
      npm_token: ${{ secrets.NPM_TOKEN }}
      deploy_key: ${{ secrets.DEPLOY_KEY }}
